.tileGrid {
    height: 100%;
    width: 100%;
    background-color: #e9dabd;
    display: grid;
    padding: 3%;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: .1em;
    position: relative;
    justify-content: center;
}