.square_wrapper{
    border-radius: 10%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
div.none{
    background: #DDC7A9;
}
div.letter_2x{
    background: #B6CBCC;
}
div.letter_3x{
    background: #05A4CB;
}
div.word_2x{
    background: #D2AFB5;
}
div.word_3x{
    background: #9D6055;
}
