.tile_wrapper{
    background-color: #D2B48C;
    border-radius: 10%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
.tile_label{
    color: #3b2c13;
    font-size: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tile_score{
    color: #3b2c13;
    font-size: 30%;
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-85%, -85%);
}
.highlight{

}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
